@charset "UTF-8";
/*
==============
Global rules
==============
*/

html {
	margin: 2%;
}

body {
	margin: auto;
	/* Centrera sidan */
	max-width: 860px;
	font-family: sans-serif;
	font-family: "Helvetica Neue", "Liberation Sans", Calibri, Arial, sans-serif;
	/* Ändr rad-radbruten av utrymmesskäl */
	font-size: 100%;
	/* Startvärde */
}

header {
	text-align: center;
	/* rukrik-text cente*/
	padding: 20px 0 0;
}

/*
==================
Startpage rules
==================
*/

.startpage .logo {
	width: 146px;
	height: 198px;
}

.hwrap > a {
	margin-right: 30px;
}

.startpage h1 {
	font-size: 500%;
	font-family: "Merienda One", cursive;
	display: inline-block;
	margin: 0;
	vertical-align: 53%;
	/* Massiv rubrik på startsidan */
}

h1::first-letter {
	color: #00AF64;
}

.tagline {
	font-size: 120%;
	padding: 0.5em;
	/* Avstånd till kantlinje */
	border-top: 3px double #00AF64;
	border-bottom: 3px double #00AF64;
	margin: 1em 0;
	/* Avstånd nedåt men inte uppåt */
}

.startpage > section {
	display: inline-block;
	width: 20%;
	margin-right: 6%;
	vertical-align: top;
}

.startpage > section:last-of-type {
	margin-right: 0;
}

.startpage > section > h2,
.menu li {
	margin: 0 0 1em;
	padding: 2em 0;
	background-color: #F5F5F5;
	/* Mkt ljus grå */
	text-align: center;
	box-shadow: inset 0 0 20px #007241;
	border-radius: 50%;
	font-family: "Merienda One", cursive;
	font-size: large;
	font-weight: normal;
}

.startpage section,
.startpage footer {
	flex: 0 0 100%;
}

.startpage section {
	flex: 0 0 22%;
}

.menu a:link,
.menu a:visited {
	text-decoration: none;
	color: #000;
}

.menu a:focus,
.menu a:hover {
	text-decoration: underline;
	color: #A62F00;
}

.menu a:active {
	text-decoration: underline;
	color: #FF4900;
}

h1 {
	font-family: 'Merienda One', cursive;
	display: inline-block;
	margin: 0;
}

.menu > h2 {
	/*Nya rader i befintligt regel*/
	font-family: 'Merienda One', cursive;
}

.hwrap {
	display: flex;
	/* Gör divven till en flex contatiner */
	flex-wrap: wrap;
	/*Radbruyt om det behövs */
	align-items: center;
	/*Lägg elementen centrerat vertikalt */
	justify-content: center;
	/*Och intill varandra centrerat */
}

footer {
	display: block;
	margin-top: 3em;
	text-align: center;
	color: #999;
}

p {
	-moz-hyphen: auto;
}

/*
========================
Subpage rules 
========================
*/

.subpage .logo {
	width: 146px;
	height: 123px;
}

.subpage h1 {
	font-size: 2.6rem;
	/* Rukrik på sidan */
}

.subpage header a {
	margin: 0 40px 0 0;
	width: 172px;
}

h1 > span {
	color: #a62f00;
}

.menu li {
	margin: 0 0 1rem;
	list-style: none;
}

.subpage .hwrap {
	justify-content: space-between;
}

.subpage .hwrap > a,
nav {
	flex: 0 1 20%;
	min-width: 146px;
	margin-right: 10px;
}

.subpage header,
.subpage footer {
	flex: 0 0 100%;
}

.subpage article {
	flex: 0 0 22%;
}

.subpage {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.subpage > nav > ul > li {
	margin: 0 0 1em;
	padding: 2em 0;
	background-color: #F5F5F5;
	/* Mkt ljus grå */
	text-align: center;
	box-shadow: inset 0 0 20px #007241;
	border-radius: 50%;
	font-size: large;
	font-weight: normal;
}

.subpage .hwrap > h1,
div[role=main] {
	flex: 1 1 300px;
}

.dborder {
	border: 1px solid #ccc;
	padding: 5px;
}

article {
	padding-bottom: 1em;
	/* last p element contributes 1em */
	margin-bottom: 2em;
	border-bottom: 3px double #00af64;
}

article:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

figure {
	float: left;
	/* Bilen till vänster om texten */
	margin: 0;
	/* Nollställ webbläsarens inbygga stil */
}

figure img {
	width: 128px;
	height: 128px;
}

figcaption {
	font: italic bolder 110% sans-serif;
	font-family: inherit;
	/* restore after shorthand */
	text-align: center;
	text-transform: uppercase;
	color: #666;
}

article p {
	margin-left: 140px;
	hyphens: auto;
}

.menu li {
	margin: 0 0 1em;
	padding: 2em;
	background-color: #F5F5F5;
	/* mycket ljus grå */
	text-align: center;
	font-family: 'Merienda One', cursive;
	/* Ny rad i befintligt regel */
}

/*
==================
table rules
===================
*/

table {
	border-spacing: 0;
	border: 1px solid #d3d3d3;
	width: 96%;
	margin: 1em auto 2em;
	border-radius: 5px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

thead {
	font-size: 150%;
	text-shadow: #fff 1px 1px 1px;
}

th,
td {
	padding: 1.1rem 1.8rem 1.1rem;
}

th {
	padding-top: 1.4rem;
	background: #ddd;
	text-align: left;
}

td {
	border-top: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}

th:not(:last-child) {
	border-right: 1px solid #f2f2f2;
}

tr:target {
	background-color: #61d7a4;
}

tr:hover {
	background-color: #ff9b73;
}

tr {
	transition: background-color 1s;
}

td:nth-child(1) {
	width: 50px;
	/* Första kolumnen */
}

td:nth-child(2) {
	width: 50px;
	/* andra kolumnen */
}

/*
============================
Form, label, fieldset rules 
============================
*/

fieldset {
	padding: 1em;
	border-radius: 10px;
	margin-bottom: 10px;
}

legend {
	font-size: larger;
}

form p {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

label {
	flex: 0 1 10ch;
	text-align: right;
	padding-right: 1ch;
}

.reqfield {
	flex: 0 0 2ch;
	/* Minskad */
	order: 1;
	text-align: center;
	padding-right: 0;
}

input[type=text],
input[type=email],
textarea {
	flex: 1 1 25ch;
	max-width: 300px;
}

textarea {
	height: 5em;
	resize: vertical;
}

input[type="submit"] {
	display: block;
	margin: auto;
}

.nivo-caption {
	text-align: center;
	/* Här centrerat nivo */
}

.nivoSlider {
	margin: 0 auto;
	width: 618px;
	/* Make sure your images are the same size */
	height: 246px;
	/* Make sure your images are the same size */
}

.tagline button {
	/* Inte i en mediiaquery. Default = dold knapp */
	display: none;
}

/*
==================
@media responsiv 
===================
*/

@media (max-width: 380px) {
	.hwrap > a {
		margin-right: 25px;
		/* Minskad igen */
	}
	.subpage .logo {
		/* Minskad  igen*/
		width: 116px;
		height: 132px;
	}
	.subpage h1 {
		font-size: 2.1em;
	}
	.startpage > header h1 {
		font-size: 300%;
		/* Minskad */
	}
	p.tagline {
		font-size: 105%;
		/* Minskad igen */
	}
	.startpage section {
		flex: 0 0 44%;
		/* Dubblad till 44% så att det blr 2 + 2 */
	}
	nav,
	div[role=main] {
		flex: 0 0 100%;
		margin: 0;
	}
	.subpage .tagline {
		margin: 0.5em 0 0.2em;
		/* krymp */
		text-align: right;
		/* kanppen till höger */
	}
	.tagline button {
		display: inline;
		/* Visa kanppen */
	}
	.subpage > nav > ul > li {
		margin: 0 0 0.2em;
		/* Lite avstånd mellan alternativen */
		padding: 0.4em 0;
		box-shadow: inset 0 0 10px #007241;
		border-radius: 1em;
		font-size: large;
		font-weight: normal;
		/* Inte elliptiska längre */
	}
	.subpage .menu {
		margin: 0 0.1em;
		padding: 0;
		max-height: 0;
		overflow: hidden;
		transform: max-height 0.3s;
		/* Animerad effekt */
	}
	.menu.show {
		max-height: 165px;
		/* Inget mellanslag. Element med båpå klasserna */
	}
	.subpage .hwrap a {
		flex: 0 0 100%;
		/* Loggan hamnar nu i mitten */
	}
	.hwrap h1 {
		margin: 0.1em;
		/* Minskad */
	}
	label {
		flex: 0 0 auto;
		/* Den naturliga bredden */
		text-align: left;
		padding-right: 0;
	}
	.reqfield {
		order 0;
		/* Återför till ordningen i THML-koden */
	}
	input[type=text],
	input[type=email],
	textarea {
		flex: 0 0 100%;
		/* En egen rad */
		margin-top: 3px;
	}
	.subpage > header h1 {
		font-size: 300%;
	}
	/* Enspaltslayout på startsidan */
	.subpage article {
		flex: 0 0 100%;
	}
	/* Bilder overför texten på om-oss-sidan */
	figure {
		float: none;
		text-align: center;
	}
	figcaption {
		width: 116px;
		margin: auto;
	}
	article p {
		margin-left: 0;
	}
	label {
		flex: 0 0 auto;
		/* Den natutliga bredden */
		text-align: left;
		padding-right: 0;
	}
	.reqfield {
		order 0;
		/* Återför till ordningen i HTML-kboden */
	}
	input[type=text],
	input[type=email],
	textarea {
		flex: 0 0 100%;
		/* En egen rad */
		margin-top: 3px;
	}
}