rect{
/*rect färg*/
fill: rgb(20, 150, 20);
}
rect{
/*rect färg*/
fill: rgb(20, 150, 20);
}
rect{
/*rect färg*/
fill: rgb(20, 150, 20);
}
rect{
/*rect färg*/
fill: rgb(20, 150, 20);
}
ellipse{
/*rect färg*/
fill: rgba(50, 50, 250, 0.5);
}
circle{
/*circle färg och storlek*/
fill: rgba(50, 200, 50, 0.5);
stroke-width: 3px;
}
line{
/*line färg och storlek, transfor-rotate*/
stroke-width: 3px;
stroke:red;
-webkit-transform: rotate(-45 20 100);
transform: rotate(-45 20 100);
}
path{
/*path färg och transpsrent */
fill: transparent;
stroke: black; 
}